script. 
  shadow = document.createElement('div');
  shadowRoot = shadow.attachShadow({mode: 'open'});
  shadowRoot.innerHTML = '<style>div {margin: 3px; outline: 1px dashed black}</style><div>(Open) #{title}</div><button>Shadow Button</button>';
  document.body.appendChild(shadow);
