style.
  iframe {
    height: 200px;
  }
- var title = "Frame 1"
include ../includes/frame
- var frameUrl = './frame1.1.html'
include ../includes/addframe
- var frameUrl = './frame1.2.html'
include ../includes/addframe