style.
  iframe {
    height: 300px;
  }

  iframe:first-of-type {
    height: 100px !important;
  }
- var title = "Frame 1"
include ../includes/frame
- var frameUrl = './frame1.1.html'
include ../includes/addframe
- var frameUrl = './frame1.2.html'
include ../includes/addframe