head
  include ../includes/common

h1 Events Page
include ../includes/gohome
h2 Click
button#Normal Normal Button
button#PreventClick Prevent Click Button
button#PreventMouseUp Prevent MouseUp Button
button#PreventMouseDown Prevent MouseDown Button
button#PreventDoubleClick Prevent DblClick Button
button#PreventAll Prevent All Button

script
  include ./events.js